@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

   .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    body    {
        font-family: 'Josefin Sans';
    }
    
    .content {
        display: flex;
        justify-content: space-between;

    }

    .info {
        background-image: url(./images/bg-pattern-desktop.svg);
        padding-top: 50px;
        padding-left: 150px;
        padding-right: 275px;
        padding-bottom: 70px;
    }

   h1 {
    margin-top: 100px;
    margin-bottom: 0;
    color: hsl(0, 36%, 70%);
    font-size: 65px;
    letter-spacing: 20px;
    font-weight: 50;
   }

   h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 65px;
    letter-spacing: 15px;
    color: hsl(0, 6%, 24%);
    font-weight: 300;
   }

   p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    line-height: 2;
   }

  .form-container {
      position: relative;
      display: flex;
      align-items: center;
  }

  .input-wrapper {
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
  }

  .oval-input {
      flex: 1;
      border: 1px solid hsl(0, 6%, 24%, 0.3);
      border-right: none;
      border-radius: 50px;
      padding: 18px 40px;
      padding-left: 50px;
      outline: none;
  }

  .oval-input::placeholder {
      color: hsl(0, 36%, 70%, 0.3);
  }

  .submit-btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
      border: none;
      border-radius: 50px;
      padding: 15px 45px;
      cursor: pointer;
      box-shadow: 0px 4px 10px hsl(0, 80%, 86%);
  }

  .submit-btn:hover {
    background: hsl(0, 80%, 86%);
  }

  .input-wrapper {
      position: relative;
      width: max-content;
      background: transparent;
  }

  .error-message {
      display: none;
      color: hsl(0, 74%, 74%);
      font-size: 0.8em;
      margin-top: 5px;
      position: absolute;
      bottom: -20px;
      left: 50px;
  }

  .error-icon {
    display: none;
    position: absolute;
    left: 275px;
  }

  .error {
      border: 1px solid red;
  }

  .picture {
    width: 100%;
  }


@media screen and (max-width: 375px) {

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
        max-width: 375px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        width: 100%;
        background-image: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
    }

    .info-1 {
        width: 100%;
        margin-top: 20px;
        margin-left: 30px;

    }

    .info-2 {
        width: 85%;
        margin-left: 20px;
        margin-top: 225px;
        align-items: center;
        text-align: center;
    }

    h1, h2 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }

    .picture {
        width: 100%;
        align-self: center;
        margin-top: 10px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
    